@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top, #111827, #09090b 60%, #020617);

  color: white;
  font-family: Inter, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}
